<!DOCTYPE html>
<meta charset="utf-8" />
<link rel="stylesheet" href="demo.css" />
<script
  defer
  type="module"
  src="mediawiki-setup.js"
  data-page="demo-submitted"
></script>
<script
  defer
  src="https://sv.wiktionary.org/w/load.php?lang=sv&modules=startup&only=scripts&raw=1&skin=vector-2022"
></script>
<body class="flex flex-column">
  <form method="post" class="flex-grow flex flex-column gap">
    <div>
      <div>{{NAV}}</div>
      Formulär skickades in: {{BUTTON_TEXT}} &bull;
      <a href="./" accesskey="e">Fortsätt redigera</a>
    </div>
    <textarea readonly class="flex-grow">{{WIKITEXT}}</textarea>
    <input readonly value="{{SUMMARY}}" />
    <a href="./">Fortsätt redigera</a>
  </form>
</body>
