<!DOCTYPE html>
<meta charset="utf-8" />
<title>Live Tidy</title>
<script defer type="module" src="mediawiki-setup.js" data-page="demo"></script>
<script
  defer
  src="https://sv.wiktionary.org/w/load.php?lang=sv&modules=startup&only=scripts&raw=1&skin=vector-2022"
></script>
<link rel="stylesheet" href="demo.css" />
<body class="flex flex-column">
  <div class="flex flex-grow gap">
    <form id="editform" class="flex flex-column flex-grow" method="post">
      <div class="mb-1">
        <div>{{NAV}}</div>
        <details>
          <summary>Simulera MediaWiki-inställningar</summary>

          <div>
            <label>
              <input type="checkbox" id="syntaxhighlight" /> CodeMirror
              syntaxmarkering
            </label>
          </div>

          <div>
            <label><input type="checkbox" id="bot" /> Bot-flagga</label>
          </div>

          <div>
            <label>
              <input type="checkbox" id="livepreview-setting" /> Visa
              förhandsgranskning utan att uppdatera sidan
            </label>
          </div>
        </details>
      </div>
      <div class="flex-grow border flex flex-column">
        <div id="livepreview" hidden class="bg-gray p-1">
          Låtsas som att det här är en förhandsgranskning eller diff.
        </div>
        <textarea
          id="wpTextbox1"
          name="wpTextbox1"
          class="border-0 flex-grow"
          placeholder="Skriv något här"
        >
{{WIKITEXT}}</textarea
        >
        <div class="CodeMirror flex-grow relative" hidden>
          <pre
            class="absolute overflow-auto w-full h-full pre-wrap text-purple"
            contenteditable
          >
{{WIKITEXT}}</pre
          >
        </div>
      </div>
      <div class="editOptions p-1 bg-gray border flex flex-column gap">
        <input
          id="wpSummary"
          name="wpSummary"
          placeholder="Sammanfattning"
          value="{{SUMMARY}}"
        />
        <div class="flex gap">
          <span
            id="wpSaveWidget"
            class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-flaggedElement-progressive oo-ui-flaggedElement-primary oo-ui-buttonInputWidget"
            data-ooui='{"_":"OO.ui.ButtonInputWidget","useInputTag":true,"type":"submit","name":"wpSave","inputId":"wpSave","accessKey":"s","flags":["progressive","primary"],"label":"Publicera ändringar"}'
          >
            <input
              type="submit"
              accesskey="s"
              name="wpSave"
              id="wpSave"
              value="Publicera ändringar"
              class="oo-ui-inputWidget-input oo-ui-buttonElement-button"
            />
          </span>

          <span
            id="wpPreviewWidget"
            class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-buttonInputWidget"
            data-ooui='{"_":"OO.ui.ButtonInputWidget","useInputTag":true,"type":"submit","name":"wpPreview","inputId":"wpPreview","tabIndex":7,"accessKey":"p","label":"Visa förhandsgranskning"}'
          >
            <input
              type="submit"
              accesskey="p"
              name="wpPreview"
              id="wpPreview"
              value="Visa förhandsgranskning"
              class="oo-ui-inputWidget-input oo-ui-buttonElement-button"
            />
          </span>

          <span
            id="wpDiffWidget"
            class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-buttonInputWidget"
            data-ooui='{"_":"OO.ui.ButtonInputWidget","useInputTag":true,"type":"submit","name":"wpDiff","inputId":"wpDiff","accessKey":"v","label":"Visa ändringar"}'
          >
            <input
              type="submit"
              accesskey="v"
              name="wpDiff"
              id="wpDiff"
              value="Visa ändringar"
              class="oo-ui-inputWidget-input oo-ui-buttonElement-button"
            />
          </span>
        </div>
      </div>
    </form>
    <form class="flex flex-column flex-grow">
      <div class="mb-1">Simulera sparning kontinuerligt</div>
      <div class="flex-grow flex border">
        <textarea
          id="wpTextbox1-live"
          class="flex-grow border-0"
          readonly
        ></textarea>
      </div>
      <div id="notif-live" hidden></div>
      <div id="editorwarnings-live" hidden></div>
      <div class="aeditOptions p-1 bg-gray border flex flex-column gap">
        <input
          id="wpSummary-live-save"
          placeholder="Sammanfattning vid sparning"
          readonly
        />
        <input
          id="wpSummary-live-preview"
          placeholder="Sammanfattning vid förhandsgranskning eller ändringar"
          readonly
        />
        <input
          type="submit"
          disabled
          value="Publicera ändringar / Visa förhandsgranskning / Visa ändringar"
        />
      </div>
    </form>
    <form class="flex flex-column flex-grow gap">
      <div>Teknisk information</div>
      <textarea id="tech-info" class="flex-grow" readonly></textarea>
    </form>
  </div>
</body>
