* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  font-size: 0.875em;
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(90%) hue-rotate(180deg);
  }
}

.flex {
  display: flex;
}

.gap {
  gap: 1em;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
  flex-basis: 0;
}

ul {
  width: 100%;
}

pre {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.border {
  border: 1px solid #c8ccd1;
}
.border-0 {
  border: 0;
}

textarea,
pre {
  font-size: 13px;
  outline: 0;
}

.p-1 {
  padding: 1em;
}

.bg-gray {
  background: #eaecf0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.overflow-auto {
  overflow: auto;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.pre-wrap {
  white-space: pre-wrap;
}
.text-purple {
  color: #8800cc;
}

#notif-live,
#editorwarnings-live {
  border-left: 0.3rem solid currentColor;
  font-weight: bold;
  white-space: pre-wrap;
  padding: 1px 1em;
  background: #eaecf0;
}

#notif-live {
  color: #060;
}

#editorwarnings-live {
  color: #c00;
}
