<span class="nav">
  <label><a href="./">Demo</a></label>
  <label>&bull; <a href="publish-gadget.php">Publicera finess</a></label>
  <label>&bull; <a href="test.php">Test</a></label>
</span>
<script>
  document.querySelectorAll(".nav a").forEach((link) => {
    if (link.href === location.href) {
      const b = document.createElement("b");
      b.append(...link.childNodes);
      link.replaceWith(b);
    }
  });
</script>
