<!DOCTYPE html>
<meta charset="utf-8" />
<title>Tidy test</title>
<link rel="stylesheet" href="demo.css" />
<script defer type="module" src="mediawiki-setup.js" data-page="test"></script>
<script
  defer
  src="https://sv.wiktionary.org/w/load.php?lang=sv&modules=startup&only=scripts&raw=1&skin=vector-2022"
></script>
<style>
  body {
    max-width: 80em;
    margin: 0 auto;
  }
  pre {
    position: relative;
    margin: 1em 0;
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #eaecf0;
    padding: 1em;
    padding-left: 3.5em;
    box-shadow: inset 2.75em 0 0 #f0f0f0;
    white-space: pre-wrap;
  }
  code {
    border-radius: 2px;
    padding: 1px 4px;
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #eaecf0;
  }
  .linenos {
    left: 0;
    text-align: right;
    margin-right: 4px;

    position: absolute;
    box-sizing: border-box;
    width: 2.75em;
    background: none;
    color: #72777d;
    white-space: pre;

    padding-left: 5px;
    padding-right: 5px;
  }
  .linenos::before {
    content: attr(data-line);
  }
</style>

<div>{{NAV}}</div>
Content from
<a href="https://sv.wiktionary.org/wiki/Wiktionary:Finesser/Tidy/Test"
  >Wiktionary:Finesser/Tidy/Test</a
>.
<hr />
